# system temp
*__pycache__*

# test
data/
checkpoints/
outputs/
test_output/
*.sh
*.npy
*.ipynb
*.png
*.jpg
*.jpeg
*.webp

# settings
.vscode
.codex
.agents

# others
.env
AGENTS.md

# exclude
!assets/*.png